/* FONTS */
@font-face {
  font-family: Pixel;
  src: url(./fonts/PixeloidMono-1G8ae.ttf); }

@font-face {
  font-family: PixelBold;
  src: url(./fonts/PixeloidSansBold-RpeJo.ttf); }

* {
  margin: 0%;
  padding: 0%;
  image-rendering: pixelated; }

html {
  cursor: url("./dist/img/cursor/default-blue.png"), default; }

body {
  width: 100%;
  height: 100vh;
  background-image: url(./images/background.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.headerIndex {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center; }

.beginButton {
  cursor: url("./dist/img/cursor/point.png"), pointer;
  text-decoration: none;
  font-family: Pixel;
  text-align: center;
  color: white;
  text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center; }

.sectionWelcome {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh; }

.textBoxWelcome {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px; }
  .textBoxWelcome p {
    font-family: Pixel;
    text-align: center;
    color: white;
    text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px; }

#squareTextWelcome {
  display: flex; }

#textBoxWelcome2 {
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center; }

#textBoxWelcome3 {
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center; }

#textBoxWelcome4, #textBoxWelcome5, #textBoxWelcome6 {
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center; }

#textBoxWelcome7 {
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center; }

.buttonseleccion {
  display: none;
  padding: 40px;
  flex-direction: column; }
  .buttonseleccion a {
    font-family: Pixel;
    text-align: center;
    color: white;
    text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none; }

#squareTextWelcome2 {
  display: none;
  font-family: Pixel;
  text-align: center;
  color: white;
  text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px; }

.catChar {
  opacity: 0;
  position: absolute;
  left: 400px;
  width: 300px;
  height: 400px;
  z-index: -1; }
  .catChar img {
    width: 246px;
    height: 346px; }

.bodyGithub {
  display: flex; }

.githubPageDisable {
  pointer-events: none;
  cursor: default; }

.NavBarGeneral {
  display: flex;
  justify-content: center;
  z-index: 15; }

.menuButton {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px; }

.menuButtonInput {
  display: none; }

.menuContainer {
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 320px;
  height: 370px;
  left: -400px;
  top: 280px; }

.menuButtonInput:checked ~ .menuContainer {
  display: flex;
  animation: menunav 0.5s ease-in forwards; }

@keyframes menunav {
  100% {
    left: 800px;
    top: 280px; } }

.menuContainer p {
  font-family: Pixel;
  text-align: center;
  color: white;
  text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px; }

.NavBarGeneral label {
  font-family: Pixel;
  text-align: center;
  color: white;
  text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px; }

.catCharMini {
  position: flex;
  left: 150px;
  opacity: 1;
  height: 253px;
  width: 243px; }
  .catCharMini img {
    height: 200px;
    width: 190px; }

.textBox3 {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  left: 400px;
  width: 400px;
  height: 150px; }
  .textBox3 p {
    font-family: Pixel;
    text-align: center;
    color: white;
    text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px; }

#textBoxGithub1, #textBoxGithub2, #textBoxGithub3, #textBoxGithub4, #textBoxGithub5, #textBoxGithub6, #textBoxGithub7, #textBoxGithub8 {
  display: none; }

.githubtrolButton, .githubButton {
  display: none;
  justify-content: center;
  position: absolute;
  left: 730px;
  top: 370px;
  width: 400px;
  height: 200px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Pixel;
  text-align: center;
  color: white;
  text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px; }

.infoImportante {
  color: yellow; }

.contactoDiv {
  display: none;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: absolute;
  left: 730px;
  top: 370px;
  width: 400px;
  height: 200px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: Pixel;
  text-align: center;
  color: white;
  text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px; }
  .contactoDiv a {
    cursor: url("./dist/img/cursor/point.png"), pointer;
    text-decoration: none;
    color: blueviolet; }

.infoPersonalDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 660px;
  top: 290px;
  width: 600px;
  height: 400px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  white-space: wrap;
  overflow-y: auto; }
  .infoPersonalDiv::-webkit-scrollbar {
    display: none; }
  .infoPersonalDiv p {
    font-family: Pixel;
    text-align: center;
    color: white;
    text-shadow: black -2px 0px, black 0px 2px, black 2px 0px, black 0px -2px; }

.fotoPersonal {
  display: flex;
  position: absolute;
  left: 1262px;
  top: 157px;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px; }
  .fotoPersonal img {
    width: 250px;
    height: 350px; }

.infoPersonalDiv h1 {
  justify-content: flex-start;
  font-size: 25px; }

.infoPersonalDiv h4 {
  justify-content: flex-start;
  font-size: 16px;
  color: gold; }

.infoPersonalDiv h3 {
  justify-content: flex-start;
  color: cyan; }

@media (min-width: 768px) and (max-width: 1800px) {
  .catCharWelcome {
    position: absolute;
    left: 10px;
    right: 400px;
    margin: 0 auto; }
  .textboxWelcome2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 300px;
    top: 238px;
    left: 140px;
    right: -130px;
    margin: 0 auto; }
  #buttonSeleccion {
    position: absolute;
    top: 950px;
    left: 140px;
    right: -130px;
    margin: 0 auto;
    width: 280px;
    animation: slide2 1s forwards; }
  .catCharMini {
    top: 0px;
    left: 110px; }
  .textBox3 {
    top: 0px;
    left: 360px;
    width: 45%;
    max-width: 500px; }
  .fotoPersonal {
    top: 320px;
    position: absolute;
    left: 300px;
    right: -130px;
    margin: 0 auto; }
  .infoPersonalDiv {
    width: 55%;
    max-width: 450px;
    top: 320px;
    position: absolute;
    left: -400px;
    right: -80px;
    margin: 0 auto; }
  .githubtrolButton, .githubButton {
    left: 0px;
    right: 0px;
    margin: 0 auto;
    top: 530px;
    width: 300px;
    height: 100px; }
  .menuContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -390px;
    z-index: 11; }
  .contactoDiv {
    top: 530px;
    left: 185px; }
  .contactoDiv {
    top: 320px;
    left: 0px;
    right: 0px;
    margin: 0 auto; }
  @keyframes menunav {
    100% {
      top: 290px; } }
  @keyframes slide {
    100% {
      top: 550px; } }
  @keyframes slide2 {
    100% {
      top: 350px; } } }

@media (min-width: 350px) and (max-width: 767px) {
  .catChar {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .textboxWelcome2 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    max-width: 300px;
    top: 638px;
    left: 0px;
    right: 0px;
    margin: 0 auto; }
  #buttonSeleccion {
    position: absolute;
    top: 750px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 280px;
    animation: slide2 1s forwards; }
  .textBox3 {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 280px; }
  .githubtrolButton, .githubButton {
    top: 530px;
    width: 300px;
    height: 100px;
    left: 0px;
    right: 0px;
    margin: 0 auto; }
  .menuButton {
    position: fixed;
    left: 0px; }
  .menuContainer {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -300px;
    z-index: 11; }
  .contactoDiv {
    top: 460px;
    left: 0px;
    right: 0px;
    margin: 0 auto; }
  .infoPersonalDiv {
    width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 920px; }
  .fotoPersonal {
    top: 515px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto; }
  @keyframes menunav {
    100% {
      top: 180px; } } }
