*{
    margin: 0%;
    padding: 0%;
}

/* FONTS */
@font-face {
    font-family: Pixel;
    src: url(./fonts/PixeloidMono-1G8ae.ttf);
}
@font-face {
    font-family: PixelBold;
    src: url(./fonts/PixeloidSansBold-RpeJo.ttf);
}


/*  */
/*  */
/*  */
/*  */
html{
    cursor: url("./dist/img/cursor/default-blue.png"), default;
}

body{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-image: url(./images/background.gif);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
    z-index: -1;
}

.beginButton{
    display: flex;
    cursor: url("./dist/img/cursor/point.png"), pointer;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-family: Pixel;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) -2px 0px, rgb(0, 0, 0) 0px 2px, rgb(0, 0, 0) 2px 0px, rgb(0, 0, 0) 0px -2px;
}




